<div class="w3-card-4">
    <header class="w3-container w3-blue">
        <h3><%= name %></h3>
    </header>
    <div class="w3-container w3-blue">
        <p>Pick: <%= pick %></p>
    </div>
    <div class="w3-container w3-blue">
        <h5>Team: <%= team %></h5>
    </div>
    <footer class="w3-container w3-blue">
        <h5>School: <a href="<%= schoolLink %>"><%= school %></a></h5>
    </footer>
    <div class="w3-container">
        <form action="<%= buyLink %>">
            <input type="submit" value="See Events!" />
        </form>
    </div>
</div>
<br>